<head>
      <link rel="stylesheet" href="/css/header.css">
      <link rel="stylesheet" href="/css/global.css">
</head>

<header class="head">
      <a href="/" class="logo">
            <img src="/images/logo.png" alt="">
            M2-JLA
      </a>

      <div class="menu">
            <a class="button" href="/cadastro">Cadastrar</a>
            <a class="button" href="/listar">Listar</a>
            <a class="button" href="/busca">Buscar</a>
      </div>
</header>